{% extends 'base.html.twig' %}
{% block title %}Amigos{% endblock %}
{% block body %}
    <div id="usuarios">
        <img src="{{ asset("Ficheros/Avatares/" ~ app.user.avatar) }}" alt="{{ "Avatar de: " ~ app.user.correo}}" id="imagen_perfil">
        <p>Nombre y Appelidos: {{ app.user.nombre ~ app.user.apellidos }}</p>
        <p>Fecha de nacimiento: {{ app.user.fechanacimiento|date('Y-m-d') }}</p>
        <p>Telefono: {{ app.user.telefono }}</p>
        <p>Dirección: {{ app.user.direccion }}</p>
    </div>
    <div id="opciones">
        <a href="">Cambiar Avatar</a>
    </div>
{% endblock %}