<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ asset('css/recibidos.css') }}">
    </head>
    <body class="p-3 mb-2 bg-dark text-white">
        {% if app.request.pathInfo != "/" %}
            {% if app.request.pathInfo != "/conOlvidada" %}
                {% if app.request.pathInfo != "/olvidada/" %}
                    <p>{{ app.request.pathInfo }}</p>
                    <a href="{{ path('perfilUsuario') }}"><img src='{{ asset("Ficheros/Avatares/" ~ app.user.avatar) }}' class="img-fluid img-responsive" id="imagen"/></a>
                    <div class="jumbotron bg-dark">
                        <div class="container bg-dark">
                            <h1>{{ app.user.correo }}</h1>
                            <header class="bg-dark">
                                <samp><a href="{{ path('recibidos') }}" class="text-danger a_header">Recibidos</a></samp>
                                <samp><a href="{{ path('redactar_mensaje') }}" class="text-danger a_header">Enviar Mensaje</a></samp>
                                <samp><a href="{{ path('amigos') }}" class="text-danger a_header">Amigos</a></samp>
                                <samp><a href="{{ path('logout') }}" class="text-danger a_header">Cerrar Sesión</a></samp>
                            </header>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% block body %}{% endblock %}
        <script>
            {% for flash_message in app.session.flashbag.get('mensaje') %}
                window.onload = function () {
                    alert("{{ flash_message }}");
                };
            {% endfor %}
            {% if mensaje is defined %}
                window.onload = function () {
                    alert("{{ mensaje }}");
                };
            {% endif %}
        </script>
        <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('js/popper.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    </body>
</html>
