{% extends 'base.html.twig' %}
{% block title %}Mensajes Recibidos{% endblock %}
{% block body %}
    {% if mensajes is empty %}
        <p>No tienes mensajes</p>
    {% else %}
        <table class="table text-white">
            <tr>
                <th scope="col"><samp>De</samp></th>
                <th scope="col"><samp>Asunto</samp></th>
                <th scope="col"><samp>Fichero</samp></th>
                <th scope="col"><samp>Estado</samp></th>
                <th scope="col"><samp>Mensaje Completo</samp></th>
            </tr>
            {% for mensaje in mensajes %}
                {% if mensaje.Leido is same as(1) %}
                    <tr>
                        <td><samp>{{ mensaje.Emisor.Correo }}</samp></td>
                        <td><samp>{{ mensaje.Asunto }}</samp></td>
                        <td><samp>{{ mensaje.Fichero }}</samp></td>
                        <td><i class="material-icons">drafts</i></td>
                        <td><a href="{{ path('mensaje_completo', {'codigo': mensaje.Codigo}) }}">Ver mensaje</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><samp>{{ mensaje.Emisor.Correo }}</samp></td>
                        <td><samp>{{ mensaje.Asunto }}</samp></td>
                        <td><samp>{{ mensaje.Fichero }}</samp></td>
                        <td><i class="material-icons">mail</i></td>
                        <td><a href="{{ path('mensaje_completo', {'codigo': mensaje.Codigo}) }}">Ver mensaje</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}