{% extends 'base.html.twig' %}
{% block title %}Amigos{% endblock %}
{% block body %}
    <div>
        <img src="{{ asset("Ficheros/Avatares/" ~ perfil[0].avatar) }}" alt="{{ "Avatar de: " ~ perfil[0].idusuario}}" id="imagen_perfil">
        <p>Nombre y Appelidos: {{ perfil[0].nombre ~ perfil[0].apellidos }}</p>
        <p>Fecha de nacimiento: {{ perfil[0].fechanacimiento|date('Y-m-d') }}</p>
        <p>Telefono: {{ perfil[0].telefono }}</p>
        <p>Dirección: {{ perfil[0].direccion }}</p>
    </div>
{% endblock %}